<%= form_for [:admins, post] do |f| %>

  <%= f.hidden_field :id %>

    <div class="form-group">
      <%= f.label :slug %>
      <%= f.text_field :slug, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :published_at %>
      <div>
        <%= f.date_select :published_at, { default: Time.now }, class: 'form-control form-control-date-select' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :uploads %>
      <%= f.file_field :uploads, direct_upload: true, class: 'hidden' %>
      <div id="post-form-upload-component">上传组件加载中</div>
    </div>

    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control', rows: 20 %>
    </div>

    <%= f.submit class: 'btn btn-primary' %>
<% end %>
