<%= form_for [:admin, post], html: { :'data-admin-post-form' => '' } do |f| %>
  <div class="form-group">
    <%= f.label :slug %>
    <%= f.text_field :slug, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :published_at %>
    <div>
      <%= f.date_select :published_at, { default: Time.now }, class: 'form-control form-control-date-select' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :uploads %>
    <table id="uploads-table" class="table">
      <thead>
        <tr>
          <td>#</td>
          <td>文件名</td>
          <td>文件大小</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'admin/posts/upload', collection: post.uploads %>
      </tbody>
      <tfoot>
        <tr>
          <td class="text-right" colspan="4">
            <span class="btn btn-primary btn-file-upload">
              <span class="btn-text">上传文件</span>
              <input id="file-add-btn" class="file-hidden-input" type="file" />
            </span>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control', rows: 20 %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
