<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:page_title) %>
      <%= yield :page_title %> &laquo;
    <% end %>

    <%= SiteSetting.site_name %>
  </title>
  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="robots" content="noindex, nofollow" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <%= render partial: 'navigator/admin_navbar' %>

  <div class="container-fluid pb20">
    <div class="row">
      <div class="col-xs-12">

        <% flash.each do |klass, mesgs| %>
          <%= sanitize flash_mesg(klass, mesgs) %>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
